.hot__movie__header{  
    flex:0;
    height:100%;
    position: relative;
    .hot__header{
        background:#282828;
        height: 0.5rem;
        font-size:0.16rem;
        color:#efefef;
        //变成弹性盒
        display:flex;
        justify-content:center;
        align-items:center;
        span:nth-of-type(1){
            flex:1;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        span:nth-of-type(2){
            flex:4;
        }
        span:nth-of-type(3){
            flex:1;
        }
        span:nth-of-type(4){
            flex:1;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    }



    .hot__aside--Left{
        position:absolute;
        z-index:100;
        height:10rem;
        top:0.46rem;
     // border:1px solid #ff0;    
        width:100%;
        
        backgroun:pink;
        

            background:#282828;
               
            li{
                    list-style:none;
                    height:0.5rem;
                    border-bottom: dotted 1px #333;
                    a{
                        display:block;
                        line-height:0.5rem;
                        width:100%;
                        color:#999;
                        height:100%;
                        padding-left:0.2rem;
                        background:url()
                    }
                }
                
            }
            .hot__aside--hide{
                overflow: hidden;
                white-space: nowrap;
                //display:none 
                width:0;
                opacity: 0.5;
                transition: all 0.5s;
            }
            .hot__aside--show{
                //display:block
                white-space: nowrap;
                width:80%;
                opacity: 1; 
                transition: all 0.5s;
            }
            .hot__aside--farther{
                top:0.48rem;
                transition: all 0.5s;
                z-index:10;
                position:absolute;
                height: 7rem;
                width:100%;
                background:#000;
            }
            .hot__aside--farther-hide{
                display:none;
                opacity: 0;
            }
            .hot__aside--farther-show{
                display:block;
                opacity: 0.7;
            }
}