.hot__Index--farther{
     flex:1;
   overflow-y: auto;
   background:#ebebeb;
    .hot__Index{
        // padding-top:1px;
        .hot__Lb--Header{
            width:3.75rem;
            
            //padding-top:1px;
            img{
                width:3.75rem;
            }
        }
        .hot__content--farther{
            // border-bottom: 1px solid #333;
            .hot__content{
                margin:0.06rem;
                
                img{width:100%;
                    display:block;
                }
                a{
                    display:block;
                    width:100%;
                    color:#000;
                
                }
                div{
                    display: flex;
                    align-content:space-between; 
                    justify-content: space-between;
                    background:#fff;
                    p:nth-of-type(1){
                        padding-left:0.2rem;
                        font-size:0.12rem;
                        margin:0;
                        background:#fff;
                        display: flex;
                        flex-direction: column;
                        justify-content:center;

                    }
                    p:nth-of-type(2){
                        color:#ff0;
                        width:0.5rem;
                    }
                }
               
            } 
                .myp{  
                    text-align: center;
                    width:1.6rem;
                    background:#aaa;
                    border:1px solid #616161;
                    border-radius: 0.15rem;
                    font-size: 0.12rem;
                    padding:0.04rem;
                    margin:0.3rem auto;
                }
        }
    }
}